<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="../style/sessions.css">
    <link rel="stylesheet" href="../style/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

    <title>Cão-Guia Virtual</title>
</head>

<body>

    <div class="container">
        <nav class="navbar_main">
            <ul class="navbar_itens">
                <li class="navbar_home"><a href="./home.html" target="_self">Home</a></li>
                <li class="navbar_map"><a href="./map.html" target="_self">Rotas</a></li>
                <li class="navbar_profile"><a href="./profile.html" target="_self">Perfil</a></li>
            </ul>
        </nav>

        <iframe src="https://embed.waze.com/iframe?zoom=14&lat=-22.8957468&lon=-43.1179254&pin=1&desc=1" width="100%"
            height="340"></iframe>

        <i class="material-symbols-outlined vibration_icon_left">vibration</i>
        <i class="material-symbols-outlined vibration_icon_right">vibration</i>

    </div>


    <script>
        const leftVib = document.getElementsByClassName("vibration_icon_left")[0];
        const rightVib = document.getElementsByClassName("vibration_icon_right")[0];

        setInterval(() => {
            leftVib.style.color = "#fff";
            rightVib.style.color = "#22f300";
        }, 5000)
    </script>
</body>
</html>