<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/home.css">
    <title>Cão-Guia Virtual</title>
    <script src="https://kit.fontawesome.com/a9f11940bf.js" crossorigin="anonymous"></script>

</head>

<body>

    <div class="container_pages">
        <nav class="navbar_main">
            <ul class="navbar_itens">
                <li class="navbar_home"><a href="./home.html" target="_self">Home</a></li>
                <li class="navbar_map"><a href="./map.html" target="_self">Rotas</a></li>
                <li class="navbar_profile"><a href="./profile.html" target="_self">Perfil</a></li>
            </ul>
        </nav>

        
        <div class="container_half">
            <div class="container_top_half">
                <p class="txt_transition">Para onde deseja ir? </p>
                <input class="get_audio" type="text" placeholder="Grave um áudio..."/>
                <i class="fa-solid fa-microphone mic"></i>
            </div>
            <div class="container_bottom_half">
                <p class="first_p">Entendido! Estamos te redirecionando para um caminho mais próximo.</p>

                <p class="second_paragraph">Só um momento...</p>
                <img class="loader" src="../assets/Dual Ring-0.8s-121px.svg" alt="" />
            </div>

        </div>

    </div>
    <script src="../script/home.js"></script>
</body>

</html>