<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../style/style.css">
    <title>Cão-Guia Virtual</title>
</head>

<body>

    <div class="container_pages">
        <nav class="navbar_main">
            <ul class="navbar_itens">
                <li class="navbar_home"><a href="./home.html" target="_self">Home</a></li>
                <li class="navbar_map"><a href="./map.html" target="_self">Rotas</a></li>
                <li class="navbar_profile"><a href="./profile.html" target="_self">Perfil</a></li>
            </ul>
        </nav>

        <div class="container_section">
            <div class="search_section">
                <span>Filtrar por: <button>Endereço</button></span>
                <input type="text" />
            </div>
        </div>

    </div>
    <script src="../script/index.js"></script>
</body>

</html>