<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../style/style.css">
    <title>Cão-Guia Virtual</title>
  </head>
  <body>

    <div class="container">
        <nav class="navbar_main">
            <ul class="navbar_itens">
                <li class="navbar_home"><a href="./home.html" target="_self">Home</a></li>
                <li class="navbar_map"><a href="./map.html" target="_self">Rotas</a></li>
                <li class="navbar_profile"><a href="./profile.html" target="_self">Perfil</a></li>
            </ul> 
        </nav>
        <img src="../assets/caoguia.png" width="160" height="160">
        <div class="login_form">
          <input type="text" id="username_login" placeholder="Nome de usuário..." />
          <input type="password" id="password_login" placeholder="Senha"/>
          <span id="errMsg"></span>
          <input type="submit" id="button_login" value="Login">
        </div>

    </div> 


    <script src="../script/index.js"></script>
  </body>
</html>