<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="../style/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <title>Cão-Guia Virtual</title>
    <style>
        #voiceResult {
            padding: 30px 0px 30px 0;
            text-align: center;
        }
    </style>
</head>

<body>

    <div class=" container_pages">
        <nav class="navbar_main">
            <ul class="navbar_itens">
                <li class="navbar_home"><a href="./home.html" target="_self">Home</a></li>
                <li class="navbar_map"><a href="./map.html" target="_self">Rotas</a></li>
                <li class="navbar_profile"><a href="./profile.html" target="_self">Perfil</a></li>
            </ul>
        </nav>

        <iframe src="https://embed.waze.com/iframe?zoom=14&lat=-22.8957468&lon=-43.1179254&pin=1&desc=1" width="100%"
            height="340">
        </iframe>

        <p id="voiceResult"></p>

    </div>


    <script src="../script/home.js"></script>
</body>

</html>