<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Cão-Guia Virtual</title>
</head>
<body>
    <div class="container">
        <nav class="navbar_main">
            <ul class="navbar_itens">
                <li class="navbar_home">Home</li>
                <li class="navbar_map">Rotas</li>
                <li class="navbar_profile">Perfil</li>
            </ul> 
        </nav> 
    </div>

    
    
</body>
</html>