<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/sessions.css">
    <title>Cão-Guia Virtual</title>
</head>
<body>
    <div class="container">
        <div class="container">
            <nav class="navbar_main">
                <ul class="navbar_itens">
                    <li class="navbar_home"><a href="./home.html" target="_self">Home</a></li>
                    <li class="navbar_map"><a href="./map.html" target="_self">Rotas</a></li>
                    <li class="navbar_profile"><a href="./profile.html" target="_self">Perfil</a></li>
                </ul>
            </nav>
        </div>


        
    </div>


</body>
</html>