
.vibration_icon_left { cursor: pointer;
    color: var(--green-color);
    font-size: 29px;
    margin: 23px;
    font-variation-settings: 30;
}
.vibration_icon_right {
    cursor: pointer;
    color: #fff;
    font-size: 29px;
    position: relative;
    left: 235px;
    font-variation-settings: 30;
}