@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --red-color: #f20001;
    --yellow-color:#f2ce00;
    --green-color: #22f300;
    --bg-color: #1c2128;
    --navbar-color: #2d333b;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}


.container { border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(
        180deg,
        hsl(0deg 100% 57%) 0%,
        hsl(24deg 100% 50%) 22%,
        hsl(35deg 100% 50%) 33%,
        hsl(45deg 100% 50%) 42%,
        hsl(55deg 100% 50%) 50%,
        hsl(64deg 100% 47%) 58%,
        hsl(76deg 100% 48%) 67%,
        hsl(89deg 100% 49%) 78%,
        hsl(120deg 100% 50%) 100%
      );
    width: 360px;
    height: 600px;
}

.container_pages {
    background-color: var(--bg-color) !important;
    width: 360px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.navbar_itens { background-color: var(--navbar-color);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.navbar_itens li { 
    font-size: 15px;
    cursor: pointer;
    list-style-type: none;
    font-weight: bold;
    letter-spacing: 0.7px;

}
.navbar_itens .navbar_profile a:hover {
    color: var(--red-color);
    transition: 0.5s;
    font-size: 15.5px;
}
.navbar_itens .navbar_map a:hover {
    color: var(--yellow-color);
    transition: 0.5s;
    font-size: 15.5px;
}
.navbar_itens .navbar_home a:hover {
    color: var(--green-color);
    transition: 0.5s;
    font-size: 15.5px;
}
.navbar_itens a {
    text-decoration: none;
}
img {
    position: relative;
    left: 50%;
    top: 4%;
    transform: translate(-50%, 0);
}

.login_form {
    display: flex;
    flex-direction: column;
    max-width: 66%;
    position: relative;
    top: 10%;
    margin: auto;
}
.login_form #username_login, #password_login {
    padding: 8px;
    outline: 0;
    border-radius: 9px;
    margin-bottom: 15px;
    border: none;
    color: #000;
}
.login_form [type="submit"] { cursor: pointer;
    padding: 11px;
    margin-top: 16px;
    color: #fff;
    background-color: var(--red-color);
    font-weight: bold;
    border-radius: 23px;
    letter-spacing: 1px;
    border: none;
}
.login_form [type="submit"]:hover {
    transition: 0.5s;
}
.login_form input::placeholder {
    font-style: italic;
}

.error_msg {
    font-size: 12px;
    font-weight: bolder;
    color: var(--red-color);
    letter-spacing: 1px;
}

#voiceResult {
    color: #fff;
}
.content_profile {
    margin-left: 30px;
    display: flex;
    align-items: flex-start;
    position: relative;
    top: 10%;
    flex-direction: column;
}
.number_travel, .name_user {
    margin-left: 5px;
    color: #fff;
}
.content_profile div {
    font-size: 19px;
    padding: 2px;
    margin-top: 2px;
    color: #fff;
}
.content_profile .email { cursor: pointer;
    font-size: 14px;
    border-radius: 9px;
    padding: 5px;
    color: #fff;
    background-color: var(--red-color);
    border: none;
}
#emailInput {
    margin-top: 12px;
    padding: 4px;
    border-radius: 9px;
    border: none;
    outline: none;
    color: #1c2128;
    display: none;
}
#emailInput::placeholder {
    color: #2d333b;
}

.btnForEmail { cursor: text !important;
    color: #fff !important;
    background-color: unset !important;
    border: none !important;    
    font-size: 15px;
}
.email_btn {
    margin-top: 12px;
    display: none;
}
#resultError {
    color: var(--red-color);
    display: none;
}