@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --red-color: #f20001;
    --yellow-color:#f2ce00;
    --green-color: #22f300;
    --bg-color: #1c2128;
    --navbar-color: #2d333b;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}


.container { border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color);
    width: 360px;
    height: 600px;
}
.navbar_itens { background-color: var(--navbar-color);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.navbar_itens li { 
    font-size: 15px;
    cursor: pointer;
    list-style-type: none;
    font-weight: bold;
    letter-spacing: 0.7px;

}
.navbar_itens .navbar_profile a:hover {
    color: var(--red-color);
    transition: 0.5s;
    font-size: 15.5px;
}
.navbar_itens .navbar_map a:hover {
    color: var(--yellow-color);
    transition: 0.5s;
    font-size: 15.5px;
}
.navbar_itens .navbar_home a:hover {
    color: var(--green-color);
    transition: 0.5s;
    font-size: 15.5px;
}
.navbar_itens a {
    text-decoration: none;
}

.login_form {
    display: flex;
    flex-direction: column;
    max-width: 66%;
    position: relative;
    top: 30%;
    margin: auto;
}
.login_form #username_login, #password_login {
    padding: 8px;
    outline: 0;
    border-radius: 9px;
    margin-bottom: 15px;
    border: none;
    color: #000;
}
.login_form [type="submit"] { cursor: pointer;
    padding: 11px;
    margin-top: 16px;
    color: black;
    background-color: var(--green-color);
    font-weight: bold;
    border-radius: 23px;
    letter-spacing: 1px;
}
.login_form [type="submit"]:hover {
    transition: 0.5s;
}
.login_form input::placeholder {
    font-style: italic;
}

.error_msg {
    font-size: 12px;
    font-weight: bolder;
    color: var(--red-color);
    letter-spacing: 1px;
}